<!--<div class="person-list-container">-->
<!--  <ul class="person-list">-->
<!--    <li *ngFor="let person of persons" class="person-item">-->
<!--      <div class="person-photo" *ngIf="person.photo">-->
<!--        <img [src]="person.photo" alt="Photo of {{ person.name }}">-->
<!--      </div>-->
<!--      <div class="person-info">-->
<!--        <h2>{{ person.name }}</h2>-->
<!--        <p class="biography">{{ person.biography }}</p>-->
<!--        <p class="details">-->
<!--          Birth Year: <span *ngIf="person.birth_year">{{ person.birth_year }}</span>-->
<!--          <span *ngIf="!person.birth_year">Unknown</span>-->
<!--        </p>-->
<!--        <p class="details">-->
<!--          Birth Date: <span *ngIf="person.birth_date">{{ person.birth_date | date:'longDate' }}</span>-->
<!--          <span *ngIf="!person.birth_date">Unknown</span>-->
<!--        </p>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>
<section class="Persons container" id="persons">
    <div class="heading">
        <h2 class="heading-title">
            Categories
        </h2> </div>
        <swiper-container #swiper class="swiper-container"
                          navigation="true" pagination="true" scrollbar="true"
        >
                <ng-container *ngFor="let person of persons">
                    <swiper-slide>
                            <div class="persons-box" >
                                <div class="person-photo" *ngIf="person.photo">
                                    <img [src]="person.photo" alt="Photo of {{ person.name }}" class="persons-box-img">
                                </div>
                            </div>
                            <div class="box-text">
                                <h2 class="persons-title">{{ person.name }}</h2>
                                <span class="persons-type">{{ person.birth_year }}</span>
                            </div>
                    </swiper-slide>
                </ng-container>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </swiper-container>


</section>