<div class="app-container">
  <header class="app-header">
      <img src="assets/logo.webp" alt="My History App Logo" class="logo">
      <div class="header-content">
          <div class="user-auth" *ngIf="username">
              <span>{{ username === 'Guest' ? 'Welcome, Guest' : 'Welcome, ' + username }}!</span>
              <button (click)="username === 'Guest' ? login() : logout()">
                  {{ username === 'Guest' ? 'Login' : 'Logout' }}
              </button>
          </div>
      </div>
  </header>
  <nav class="main-nav">
      <ul>
          <li><a routerLink="/categories">Categories</a></li>
          <li><a routerLink="/persons">Persons</a></li>
          <li><a routerLink="/events">Events</a></li>
          <li><a routerLink="/comments">Comments</a></li>
          <li><a routerLink="/historical-periods">Historical Periods</a></li>
      </ul>
  </nav>
  <main>
      <router-outlet>

        
      </router-outlet>
  </main>
  <footer class="app-footer">
      <p>&copy; 2024 My History App. All rights reserved.</p>
  </footer>
</div>
